form {
   
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 3px solid black;
    background: #eeeeee;
    border-radius:  1em;
}

form button{
    
    background-color: gray;
    color: aliceblue;
    padding: 7px;
    padding-right: 50px;
    border-radius: 1em;
    text-align: center;
    
}

body{
    background: navy;
}

input{
    border-radius: 3em;

}

select{
    border-radius: 1em;
}

textarea{
    border-radius: 1em;
}